<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="My Portfolio">
	<meta name="description" content="About The best developer in the World">
  <meta name="twitter:title" content="title on x">
  <meta property="og:title" content="The page title in facebook">
	<title> Tomide Portfolio </title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">
  <link rel="icon"  type="image/ico" href="images/mico.ico"> 
	<style>
	 /*div{ border: 1px solid red; min-height: 100px;*/
	 	
	 .il1{width:170px;
	 	height: 100px;}
	 .myname{ font-size:30px;
	 			color:blue; font-family:algerian; }
	 .des{color:white;}
	 .mybg{background-color: #AFD2E9; }
	 .pabout{font-size:20px; font-family:arial;}
	 .habout{font-size: 40px;  font-family:algerian;}
	 .carm1{position:absolute; top:480px; height:130px; background-color: rgba(255, 255, 255, 0.0);}
	 .wel1{font-size:50px;  font-family:algerian; color:white;}
	 .welp{font-size:30px;  font-family:"agency fb"; color:black;}
	 .foot1{background-color: #AFD2E9;}
	 .ulsm{list-style-type: none; text-decoration: none;}
	 .amy{text-decoration: none; color:black; font-size: 15px;}
	 .fbac1{background-image: url('images/fban.jpg'); background-repeat: no-repeat;  background-position:top; background-size: cover; }
	 /*.imel1{height:400px; }*/
   .hbac{background-image: url('images/contact.jpg'); background-repeat: no-repeat;  background-position:top; background-size: cover;}
   .texta1{height:80px; width:100%}
   .git1{ font-family:algerian; }
   .prog1{width:400px;}

	</style>
</head>
<body>
	<!-- Container -->
<div class="container-fluid">

<!-- header -->
	<div class="row ">
		<div class="col-md-12 shadow ">
			<nav class="navbar navbar-expand-lg mybg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand myname" href="#"><b> Tomide</b><span class="des">/></span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#melly">About Tomide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#phe1">Projects</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#ecom">E-commerce</a></li>
            <li><a class="dropdown-item" href="#ecom">Fin-tech</a></li>
            <li><a class="dropdown-item" href="#ecom">Personal</a></li>
            <li><a class="dropdown-item" href="#ecom">Restaurant</a></li>


            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#ddm1">Custom</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <button type="button" class=" btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal" aria-disabled="true">Contact Me </button>
        </li>
      </ul>
      
    </div>
  </div>
</nav>


		 </div>

 	</div>

<!-- carousel -->
	<div class="row"> 

		<div class="col-md-12"> 
				<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/car3.jpg" class="d-block w-100 img-fluid" alt="banner">
      <div class="carousel-caption d-none d-md-block carm1">
        <h5 class="wel1"> Welcome To Tomide's Hub</h5>
        <p class="welp">  I am Tomide Erinola, a Fullstack Developer with the Aim to turn Your Vision to Visual Reality </p>
        <button class="btn btn-success" data-bs-toggle="modal"  > Download Resume</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#2Modal">
 Hire Me
</button>

      </div>
    </div>
    <div class="carousel-item">
      <img src="images/car4.jpg" class="d-block w-100 img-fluid" alt="...">
      <div class="carousel-caption d-none d-md-block carm1">
       <h5 class="wel1"> Welcome To Tomide's Hub</h5>
        <p  class="welp" >I am Tomide Erinola, a Fullstack Developer with the Aim to turn Your Vision to Visual Reality</p>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#2Modal" > Hire Me </button>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#2Modal" > Download Resume</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/car4.jpg" class="d-block w-100 img-fluid" alt="...">
      <div class="carousel-caption d-none d-md-block carm1">
        <h5 class="wel1"> Welcome To Tomide's Hub</h5>
        <p class="welp" >I am Tomide Erinola, a Fullstack Developer with the Aim to turn Your Vision to Visual Reality</p>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#2Modal" > Download Resume</button>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#secondeModal" > Hire Me </button>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



		</div>

 	</div>

 	<!-- about me text-->
 	<div class="row"> 
 		<div class="col-md-12 text-center text-primary mb-4 mt-3" id="melly"> <h2 class="habout"> About Me  </h2></div>
 		<div class="col-md-2"> <img src="images/me.jpeg" class="img-fluid rounded-circle">
 											
 		 </div>
 		<div class="col-md-7 d-flex align-items-center offset-md-1"> <p class='pabout text-center '> I am Tomide Erinola. I build beautiful, User friendly web applications using my God given skills and over a decade of Expertise.I am passionate about creating functional website to your comfortabilty.</p>  <br> 
     
    </div>

 	</div>

 	<!-- whatido -->
 	

 	<!-- projects text -->

 	<div class="row"> 
 		<div class="col-md-12 text-center text-primary mt-5 mb-4"> 
 			<h2 class="habout" id="phe1">Projects  </h2>
 		 </div>
 	</div>
 	<!-- preject cards -->
 	<div class="row justify-content-center mb-5" id="pro1"> 


 		 <div class="col-md-4 mb-4">
        <div class="card shadow">
          <img src="images/pro2.png" class="card-img-top" alt="Pro1" >
          <div class="card-body">
            <p class="card-text"><b>First Project</b></p>
            <p>  Corporate Website</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card shadow">
          <img src="images/pro1.png" class="card-img-top" alt="pro2" >
          <div class="card-body">
            <p class="card-text"><b>Second Project</b></p>
            <p>NGO Website  </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" id="ecom">
        <div class="card shadow">
          <img src="images/pro3.png" class="card-img-top" alt="Pro3">
          <div class="card-body">
            <p class="card-text"><b>Third Project</b></p>
            <p> E-Commerce Website </p>
          </div>
        </div>
      </div>
 	</div>

 	<!-- getintouch -->

 	<div class="row"> 
 		<div class="col-md-12 text-center text-primary mt-5 mb-5"> <h2 class="habout"> Skills </h2> </div>
 	</div>

 	<!-- skills -->

 	<div class="row"> 
 		<div class="col-md-12 d-flex flex-column justify-content-center align-items-center"> 

 			<div class="progress mb-3 prog1" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar text-bg-success" style="width: 85%"><b> HTML</b></div>
</div>
<div class="progress mb-3 prog1" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar text-bg-info" style="width: 100%"><b>CSS</b></div>
</div>
<div class="progress mb-3 prog1" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar text-bg-warning" style="width: 95%"><b> Javascript </b></div>
</div>
<div class="progress mb-3 prog1" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar text-bg-danger" style="width: 70%"> <b>Python</b></div>
</div>



 		 </div>
 	</div>
 	<!-- faq -->

 	<div class="row mt-5"> 
 		<div class="col-md-12 text-center text-primary mb-5"> <h2 class="habout">FAQ's </h2> </div>

 	</div>

 	<!-- questions -->
 	<div class="row"> 
 		<div class="col-md-12"> 

 				<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       <b>  Will your website work on all browser? </b>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Absolutely! All websites I build are responsive and compatible with all modern browsers and devices. Contact Me ASAP!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       <b>  Modes Of Payment Accepted </b>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        I accept various payment methods including bank transfer, PayPal, Zelle, Crypto, and more. We can discuss better about other options. Send a Message!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <b>   How Soon can i get your Project done? </b>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      It depends on the type of website you want, Any of the website listed on my page could be completed within 5 days while a fin tech Web application could be done in Two weeks. Shoot a text! 
      </div>
    </div>
  </div>


  		 <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
       <b>   Can you Match my Brand color and Style </b>
      </button>
    </h2>
    <div id="collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Yes, absolutely. Text Me!
      </div>
    </div>
  </div>


</div>




 		 </div>

 	</div>

<!-- getintouch -->
<div class="row"> 
	<div class="col-md-12 text-center text-primary"> 
			<h2 class="habout mt-5 mb-5"> Get in touch With Tomide </h2>
	</div>

</div>
<!-- socials -->
<div class="row fbac1"> 
	<div class="col-md-12 text-center text-primary mb-3 git1"> <b> Let's make something Great, Beautiful and Timeless </b></div>
	<div class="col-md-5 offset-1">
	  <p> You can contact me on: </p>
	  <ul class="ulsm">
	  		<li class="mb-3"><i class="fa-solid fa-phone"  style="font-size:20px;"></i>  <a class="amy" href="https://x.com/tomide1604?s=21"> 09078347881, 07039853440</a> </li>
        <li  class="mb-3"><i class="fa-brands fa-at" style="font-size:20px;"></i><a class="amy" href="gmail.com">   MichealErinola9@gmail.com</a> </li>
	  		<li  class="mb-3">   <i class="fa-brands fa-facebook"  style="font-size:20px;"></i><a class=" amy" href="https://www.facebook.com/erinola.micheal.3?mibextid=LQQJ4d"> Tomide Erinola</a> </li>
	  		<li  class="mb-3"> <i class="fa-brands fa-x-twitter"  style="font-size:20px;"></i><a class="amy" href="https://x.com/tomide1604?s=21"> Tomide1604 </a> </li>
	  		<li  class="mb-3"> <i class="fa-brands fa-instagram"  style="font-size:20px;"></i> <a class="amy" href=" ">Tomide___</a> </li>
	  		<li  class="mb-3"><i class="fa-brands fa-telegram" style="font-size:20px;"></i><a class="amy" href=""></a> 09078347881 </li>
	  		<li  class="mb-4"><i class="fa-brands fa-github" style="font-size:20px;"></i><a class="amy" href="">  Tomide</a> </li>





	   </ul>
	</div>
	<div class="col-md-5"> 
    <h2 class="text-dark"> Send a Quick Message </h2>
      <form>
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Your Name">
  </div>
  <div class="mb-3">
    <input type="email" class="form-control" placeholder="Your Email">
  </div>
  <div class="mb-3">
    <textarea class="form-control texta1"  placeholder="Your Message"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>


   </div>


</div>
<!-- footer -->
<div class="row foot1"> 

	<div class="col-md-12 text-center"> 
		<p> <b> Copyright &copy2025 Tomide Erinola </b> </p>
	 </div>

</div>













</div>
<!-- firstmodal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true ">
  <div class="modal-dialog " >
    <div class="modal-content fbac1">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">You Can Contact me Through the Following </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
 <ul class="ulsm">
	  		<li class="mb-3"><i class="fa-solid fa-phone"  style="font-size:20px;"></i>  <a class="amy" href=""> 09078347881, 07039853440</a> </li>
        <li  class="mb-3"><i class="fa-brands fa-at" style="font-size:20px;"></i><a class="amy" href="">  MichealErinola9@gmail.com</a> </li>
	  		<li  class="mb-3">   <i class="fa-brands fa-facebook"  style="font-size:20px;"></i><a class=" amy" href=""> Tomide Erinola</a> </li>
	  		<li  class="mb-3"><a class="amy" href=""> <i class="fa-brands fa-x-twitter"  style="font-size:20px;"></i> Tomide1604 </a> </li>
	  		<li  class="mb-3"><a class="amy" href=" "><i class="fa-brands fa-instagram"  style="font-size:20px;"></i> Tomide___</a> </li>
	  		<li  class="mb-3"><i class="fa-brands fa-telegram" style="font-size:20px;"></i><a class="amy" href=""></a> 09078347881 </li>
	  		<li  class="mb-4"><i class="fa-brands fa-github" style="font-size:20px;"></i><a class="amy" href="">  Tomide</a> </li>
        <li  class="mb-4"><i class="fa-brands fa-at" style="font-size:20px;"></i><a class="amy" href="">  Email</a> </li>




	   </ul>
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- secondmodal -->

<div class="modal fade " id="2Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content hbac" id="ddm1">
      <div class="modal-header ">
        <h1 class="modal-title fs-5" id="2ModalLabel"> <b> Send A Message </b> </h1>
         <ul class="ulsm d-flex justify-content-end">
        <li class="mb-3 p-2"> <a class="amy" href="https://x.com/tomide1604?s=21"><i class="fa-solid fa-phone"  style="font-size:20px;"></i>  </a> </li>
        <li  class="mb-3 p-2"><a class="amy" href=""><i class="fa-brands fa-at" style="font-size:20px;"></i></a> </li>
        <li  class="mb-3 p-2">  <a class=" amy" href="https://www.facebook.com/erinola.micheal.3?mibextid=LQQJ4d">  <i class="fa-brands fa-facebook"  style="font-size:20px;"></i> </a> </li>
        <li  class="mb-3 p-2"> <a class="amy" href="https://x.com/tomide1604?s=21"> <i class="fa-brands fa-x-twitter"  style="font-size:20px;"></i> </a> </li>
        <li  class="mb-3 p-2">  <a class="amy" href=" "> <i class="fa-brands fa-instagram"  style="font-size:20px;"></i></a> </li>
        <li  class="mb-3 p-2"><a class="amy" href=""> <i class="fa-brands fa-telegram" style="font-size:20px;"></i></a>  </li>
        <li  class="mb-3 p-2"><a class="amy" href=""> <i class="fa-brands fa-github" style="font-size:20px;"></i>  </a> </li>





     </ul>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="mb-4"> Send A Message (DM)  </h2>
<form> 
<div class="mb-3"> 
<label  class="form-label"> Name</label>
<input class="form-control" type="text" placeholder="Your Name "> 

</div>
<div class="mb-3"> 
<label class="form-label"> Type Here </label> <br> 
<textarea name="bio" id="bio" class="texta1"></textarea>


 </div> 


<button class="btn btn-primary col-md-12"> Send </button>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>


<script src="bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>